* {
    margin-left: 0px;
    margin-right: 0px;
}

body {
    background-color: 	#ADD8E6;
}

.display, h1 {
    text-align: center;
    font-family: monospace;
    font-size: 50px;
    color: #F0FFFF;
}

.form, .display {
    height: fit-content;
    width:fit-content;
    margin-left:auto;
    margin-right: auto;
}

 form{
    display:inline-block;
}

.intro{
    text-align: center;
}

